{% extends 'base.html' %}
{% load static %}

{% block custom_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/style.css' %}">
{% endblock custom_tags %}

{% block title %} {{ user.username }} Profile {% endblock title %}

{% block content %}
    {% if is_user %}
        <a class="btn btn-dark add-post" href="{% url 'posts:add_post' request.user.id %}" role="button">Add Post</a>
    {% endif %}
    <h4 class="text-center"> {{ user.username|capfirst }} </h4>
    <p class="text-center"> {{ user.profile.bio }}</p><br/><br/>
    {% for post in posts %}
        <div class="card">
            <div class="card-body"><a href="{{ post.get_absolute_url }}">{{ post.body }}</a></div>
        </div>
    {% empty %}
        <p> This user has no posts! </p>
    {% endfor %}
{% endblock content %}

